<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ status_code }}: {{ status_text }}</title>
    </head>
    <body>
        <div align="center" style="bottom: 50%; position:absolute; width:100%;">
            <h1>Woops! That page doesn't exist!</h1>
        </div>
    </body>
</html>
