<div align="center">
    <form name="comments" action="" method="post"> <!-- Form for comment submission -->
        <table width="500px" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #ddd"> 
            <tr style="background-color: #fff"> 
                <td>
                    <textarea class='autoExpand' data-min-rows='3' name="comment" placeholder="Submit a post..." style="width:480px;resize:none;border:none;padding:10px;background:transparent;font-size:18px;outline:none;" rows="3" wrap="VIRTUAL"></textarea></textarea> <!-- Text area for typing into the post -->
                </td> 
            </tr> 
            <tr align="right" style="background-color: #f6f7f8;"> 
                <td style="padding: 5px">
                    <input type="submit" name="submit" value="Post"> <!-- Button to submit the post -->
                </td> 
            </tr> 
        </table> 
    </form>
</div> 